chapters/5 pretrainiing/5.5/gpt2/124M/model.ckpt.data-00000-of-00001
chapters/5 pretrainiing/5.4/model.pth
chapters/5 pretrainiing/5.4/model_and_optimizer.pth
chapters/5 pretrainiing/5.4/checkpoints/model.pth
chapters/5 pretrainiing/5.4/checkpoints/model_and_optimizer.pth
